.flex {
  display: flex;

  &--at-large {
    display: block;

    @mixin atLarge {
      display: flex;
    }
  }
  &--space-between {
    justify-content: space-between;
  }
  &--stretch-at-huge {
    @mixin atHuge {
      justify-content: stretch;
    }
  }
  &--to-the-right {
    justify-content: flex-end;
  }
}
