.headline {
  font-size: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  position: absolute;
  line-height: 0.74;

  @mixin atLarge {
    font-size: 13rem;
  }
  &--small {
    font-size: 5.5rem;

    @mixin atLarge {
      font-size: 10rem;
    }
  }
  &--right-edge {
    right: 0;
    top: 50%;
  }
  &--top {
    transform: translateY(-60%);
  }
  &--rotated {
    transform: translateX(39%) rotate(-90deg);
  }

  &--no-pointer-events {
    pointer-events: none;
  }
}
