.line-animation {
  opacity: 0;

  &__outer-span,
  &__inner-span {
    display: block;
  }

  &__outer-span {
    overflow: hidden;
  }

  &__inner-span {
    transition: transform 800ms;
  }

  &--animated {
    opacity: 1 !important;

    .line-animation__inner-span {
      transform: translate(0);
    }
  }

  &--hidden-to-bottom {
    .line-animation__inner-span {
      transition: transform 500ms;
      transform: translate(0, 100%);
    }
  }
}

.from-bottom {
  transform: translate(0, 100%);
}

.from-top {
  transform: translate(0, -100%);
}

.from-right {
  transform: translate(100%, 0);
}
