.contact-me {
  &__message {
    margin-bottom: 0.5em;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: lowercase;

    @mixin atLarge {
      margin-bottom: 0;
      width: 400px;
      flex-shrink: 0;
    }
    @mixin atHuge {
      margin-right: 300px;
    }
  }
  &__list {
    font-weight: 500;
    text-decoration: underline;
    @mixin atLarge {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-right: 2em;

      @mixin atLarge {
        margin-right: 5em;
      }
    }
  }
}
