.cursor {
  z-index: 1;
  position: absolute;
  display: inline-block;
  top: 0;

  *:not(circle) {
    position: relative;
    @mixin xy-centered;
  }

  &__outer-circle-container {
    height: 78px;
    width: 78px;
  }

  &__outer-circle {
    /* animation: rotate 1000ms linear infinite; */
    transform-origin: center;
    fill: transparent;
    stroke: $mainRed;
    stroke-width: 2;
    r: 45%;
    cx: 50%;
    cy: 50%;
    /* stroke-dasharray: 190; */
    /* stroke-dashoffset: 1000; */
  }

  &__inner {
    width: 8px;
    height: 8px;
    background-color: $mainRed;
    border-radius: 50%;
    transition: width 200ms, height 200ms;

    &--large {
      width: 12px;
      height: 12px;
    }
  }

  &--on-focus {
    .cursor__inner {
      width: 12px;
    }
    .cursor__outer {
      opacity: 0;
    }
  }
}
