.cursor {
  z-index: 2;
  position: absolute;
  pointer-events: none;
  display: none;
  opacity: 0;
  top: 0;

  @mixin atLarge {
    display: block;
  }

  * {
    @mixin xy-centered;
    border-radius: 50%;
  }

  &__outer {
    border: 2px solid $mainRed;
    height: 70px;
    width: 70px;
    transition: opacity 200ms;
  }

  &__inner {
    width: 7px;
    height: 7px;
    background-color: $mainRed;
    transition: width 200ms, height 200ms;

    &--large {
      width: 12px;
      height: 12px;
    }
  }

  &--on-focus {
    .cursor__inner {
      width: 12px;
      height: 12px;
    }
    .cursor__outer {
      opacity: 0;
    }
  }

  &--hide-default-cursor {
    cursor: none;
  }

  &--is-visible {
    opacity: 1;
  }
}
