.cursor {
  z-index: 1;
  position: absolute;
  display: inline-block;
  top: 0;

  *:not(circle) {
    position: relative;
    @mixin xy-centered;
  }

  &__outer-circle-container {
    animation: rotate 1000ms linear infinite;
    height: 74px;
    width: 74px;
  }

  &__outer-circle {
    fill: transparent;
    stroke: $mainRed;
    stroke-width: 2;
    r: 35px;
    cx: 37px;
    cy: 37px;
    stroke-dasharray: 190;
    /* stroke-dashoffset: 1000; */
  }

  &__inner {
    width: 8px;
    transition: width 200ms;

    &--large {
      width: 15px;
    }
  }

  &--on-focus {
    .cursor__inner {
      width: 15px;
    }
    .cursor__outer {
      opacity: 0;
    }
  }
}
