.frontal {
  position: relative;

  &__headline {
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    line-height: 0.82em;

    @mixin atLarge {
      font-size: 26rem;
    }

    &--to-the-right {
      position: relative;
      left: 10vw;

      @mixin atLarge {
        left: 30vw;
      }
    }
    &--to-the-left {
      position: absolute;
      right: 0;

      @mixin atLarge {
        right: 20vw;
      }
    }
  }
}
