$timing: 700ms;

.frontal {
  position: relative;

  &__headline {
    font-size: 5.5rem;
    font-weight: 900;
    line-height: 0.82;

    @mixin atLarge {
      font-size: 16rem;
      transition: left $timing ease-out, right $timing ease-out;
    }
    @mixin atHuge {
      font-size: 24rem;
    }

    &--to-the-right {
      position: relative;
      left: 10vw;

      @mixin atLarge {
        left: 50vw;
      }
    }
    &--to-the-left {
      position: absolute;
      right: 0;

      @mixin atLarge {
        right: 50vw;
      }
    }
  }

  &--animated {
    .frontal__headline--to-the-right {
      left: 30vw;
    }
    .frontal__headline--to-the-left {
      right: 20vw;
    }
  }
}
