.greeting {
  display: inline-block;
  transform: translateY(-12px);
  white-space: nowrap;

  &::first-letter {
    text-transform: uppercase;
  }

  &__my-name {
    transform: translateY(-300px);
    display: inline-block;
  }
}
