.link-hover-animation {
  position: relative;

  &__lower {
    text-transform: lowercase;
    transition: color 400ms;
    position: ralative;

    &::before {
      content: '';
      width: 75%;
      height: 3px;
      background-color: $mainBlack;
      position: absolute;
      bottom: 9px;
      left: 0;
    }
  }

  &__capital {
    position: absolute;
    left: 0;

    .link-hover-animation__letter {
      transform: translateX(-100%);
    }
  }

  &__letter-wrapper,
  &__letter {
    display: inline-block;
  }

  &__letter-wrapper {
    overflow: hidden;
    vertical-align: top;
  }

  &__letter {
    transition: transform 1100ms cubic-bezier(0.81, 0.69, 0.03, 0.93);
    text-decoration: underline $mainBlack;
  }

  &:hover {
    .link-hover-animation__capital .link-hover-animation__letter {
      transform: translateX(0);
    }
    .link-hover-animation__lower .link-hover-animation__letter {
      transform: translateX(100%);
    }
    .link-hover-animation__lower {
      color: $mainRed;
    }
  }
}
