.link-hover-animation {
  position: relative;

  &__lower {
    text-transform: lowercase;
    transition: color 400ms;
    border: 1px solid green;
  }

  &__capital {
    position: absolute;
    left: 0;
    border: 1px solid red;

    .link-hover-animation__letter {
      transform: translateX(-100%);
    }
  }

  &__letter-wrapper {
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
  }

  &__letter {
    transition: transform 1100ms cubic-bezier(0.81, 0.69, 0.03, 0.93);
    display: inline-block;
  }

  &:hover {
    .link-hover-animation__capital .link-hover-animation__letter {
      transform: translateX(0);
    }
    .link-hover-animation__lower .link-hover-animation__letter {
      transform: translateX(100%);
    }
    .link-hover-animation__lower {
      color: $mainRed;
    }
  }
}
