$timing: 300ms;

.loader {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;

  *,
  &__inner-wrapper::after {
    border-radius: 50%;
  }

  &__svg {
    width: 100%;
    height: 100%;
    transition: transform $timing ease-out;
  }

  &__circle {
    transform-origin: center;
    cx: 50%;
    cy: 50%;
    r: 46%;
    stroke-width: 2;
    stroke: $mainRed;
    fill: transparent;
    stroke-dasharray: 200;
    stroke-dashoffset: 1000;
    animation: loading 3000ms 1000ms infinite;
    transition: stroke-width 1000ms;
  }

  &__inner-wrapper,
  &__inner-wrapper::after {
    @mixin xy-centered;
  }

  &__inner {
    width: 7px;
    height: 7px;
    background-color: $mainRed;
  }

  &__inner-wrapper::after {
    content: '';
    width: 0;
    height: 0;
    background-color: $mainRed;
    transition: all $timing;
  }

  &--interactive {
    &:active {
      .loader__svg {
        transform: scale(1.22);
      }

      .loader__circle {
        stroke-width: 1.55;
      }
      .loader__inner-wrapper::after {
        width: 70px;
        height: 70px;
        background-color: transparent;
      }
    }
  }

  &--hidden {
    opacity: 0;
    cursor: none;
  }
}
