.milestone {
  border-top: 2px solid $mainBlack;
  margin: 1em;
  width: 100%;
  padding-top: 0.4em;
  text-transform: uppercase;

  @mixin atLarge {
    width: 800px;
    margin: 4em;
    border-top-width: 3px;
  }

  &__num {
    font-size: 1rem;

    @mixin atLarge {
      font-size: 2rem;
    }
  }
  &__description {
    order: 1;
    font-size: 1.2rem;

    @mixin atLarge {
      font-size: 2.2rem;
    }
  }
}
