.milestone {
  border-top: 1px solid $mainBlack;
  margin: 3em 0.4em;
  flex-basis: 100%;
  padding-top: 0.4em;
  font-weight: 300;

  @mixin atLarge {
    width: 800px;
    margin: 5em 4em;
    border-top-width: 2px;
  }

  &__num {
    @mixin atLarge {
      font-size: 2rem;
    }
  }
  &__description {
    order: 1;
    font-size: 1.1rem;

    @mixin atLarge {
      font-size: 2.1rem;
    }
  }
}
