.paragraph {
  text-transform: lowercase;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 500;
  text-align: justify;

  @mixin atLarge {
    width: 70%;
    font-size: 3rem;
  }
  @mixin atHuge {
    font-size: 3.5rem;
  }

  &::first-letter {
    text-transform: uppercase;
  }
  &--margin-b {
    margin-bottom: 2.5em;
  }
}
