.preload-overlay {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: $skiny;
  position: absolute;
  top: 0;
  display: none;

  @mixin atLarge {
    display: block;
  }

  &__wrapper {
    @mixin xy-centered;
  }

  &__state {
    font-weight: 300;
    opacity: 0;
  }

  &--loaded {
    display: none;
  }
}
