.project {
  line-height: 1;

  &:nth-child(odd) {
    @mixin atLarge {
      text-align: center;
    }
  }
  &:not(:last-child) {
    margin-bottom: 3em;

    @mixin atLarge {
      margin-bottom: 10em;
    }
  }

  &__wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    backface-visibilty: hidden;
  }
  &__title {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 15px;
    white-space: nowrap;

    @mixin atLarge {
      font-size: 8.5rem;
      padding-bottom: 6px;
    }
  }
  &__marqee {
    color: $mainRed;
    word-spacing: 15px;
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    font-size: 0.8rem;
    animation: marqee 30s linear infinite;

    @mixin atLarge {
      left: 8px;
      font-size: 1rem;
    }

    &--left-content-support {
      transform: translateX(-100%);
      padding-right: 20px;
      animation: left-marqee 30s linear infinite;
    }
  }
}
