.stroke-headline {
  font-size: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  position: absolute;

  @mixin atLarge {
    font-size: 17rem;
  }
  &--small {
    font-size: 5.5rem;

    @mixin atLarge {
      font-size: 14rem;
    }
  }
  &--right-edge {
    right: 0;
    top: 50%;
  }
  &--top {
    top: 0px;
    left: -20px;
    line-height: 0.74;
    transform: translateY(-60%);

    @mixin atLarge {
      transform: translateY(-75%);
    }
  }
  &--centered {
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
  }
  &--rotated {
    transform: translate(39%, -65%) rotate(-90deg);
  }
}
