.header {
  position: relative;
  font-weight: 300;
  backface-visibility: hidden;
  z-index: 1;

  @mixin atLarge {
    font-size: 1.2rem;
  }
  &__my-name {
    font-size: 1.3rem;

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
  &__add {
    height: 31px;
    display: none;
    text-align: center;
    overflow: hidden;

    @mixin atLarge {
      display: block;
    }
  }
  &__ad-list {
    transition: transform 500ms;
  }
  &__availability-message {
    position: absolute;
    bottom: 1em;
    line-height: 1.15em;

    @mixin atLarge {
      line-height: 150%;
      bottom: 0;
      left: 30vw;
      transform: translate(-100%, 50%);
    }
  }
  &__nav-list-wrapper {
    padding-right: 1em;
    transition: max-height 400ms;
    overflow: hidden;
  }
  &__nav {
    line-height: 2.3em;
    text-align: right;
    counter-reset: nav-counter;

    @mixin atLarge {
      line-height: 150%;
    }
    & ul {
      transition: transform 400ms;
    }
    & span {
      position: relative;
      cursor: pointer;
      padding-left: 1em;

      &::after {
        counter-increment: nav-counter;
        content: '0' counter(nav-counter);
        font-size: 0.6rem;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.3;
        transform: translateX(115%);
      }
      &::before {
        content: '';
        width: 8px;
        height: 2px;
        background-color: $mainRed;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(110%, -50%);
        opacity: 0;
        transition: all 300ms;
      }
      &:hover::before {
        opacity: 1;
        transform: translate(80%, -50%);
      }
    }

    &:hover {
      .header__nav-list-wrapper {
        max-height: 156px !important;

        @mixin atLarge {
          max-height: 112px !important;
        }
      }
      & ul {
        transform: translateY(0) !important;
      }
    }
  }
}
