.header {
  position: relative;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-weight: 300;
  z-index: 2;

  @mixin atLarge {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2rem;
  }

  @mixin atHuge {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  * {
    transform: translateZ(0);
  }

  &__my-name {
    font-size: 1.3rem;

    @mixin atLarge {
      font-size: 1.8rem;
      opacity: 0;
    }
  }
  &__add {
    height: 31px;
    display: none;
    text-align: center;
    overflow: hidden;

    @mixin atLarge {
      display: block;
    }
  }
  &__ad-list {
    transition: transform 500ms;

    @mixin atLarge {
      transform: translateY(10px);
    }

    li {
      opacity: 0;
    }
  }
  &__availability-message {
    position: absolute;
    bottom: 1em;
    line-height: 1.15em;

    @mixin atLarge {
      line-height: 115%;
      bottom: 0;
      left: 30vw;
      transform: translate(-100%, 50%);
    }

    li {
      opacity: 0;
    }
  }
  &__nav {
    line-height: 2.3em;
    text-align: right;
    counter-reset: nav-counter;
    overflow: hidden;

    @mixin atLarge {
      line-height: 150%;
    }

    &:hover {
      .header__nav-list-wrapper {
        max-height: 156px !important;

        @mixin atLarge {
          max-height: 112px !important;
        }
      }
      .header__nav-list {
        transform: translateY(0) !important;
      }
      .header__nav-link--active::before {
        width: 100%;
        transform: translate(0.5em, -50%);
      }
      .header__nav-link--active .header__nav-link-bottom-portion {
        transform: translateX(3px);
      }
    }
  }
  &__nav-list-wrapper {
    padding-right: 1em;
    overflow: hidden;
    transform: translateX(100%);

    @supports (-moz-appearance: none) {
      padding-right: 1.2em;
    }

    &--is-fully-visible .header__nav-link--active::before {
      width: 100%;
      transform: translate(0.5em, -50%);
    }
    &--is-fully-visible .header__nav-link--active .header__nav-link-bottom-portion {
      transform: translateX(3px);
    }

    &--visible {
      transition: max-height 400ms, transform 800ms;
      transform: translateX(0);
    }
  }
  &__nav-list {
    transition: transform 400ms;
  }
  &__nav-link {
    position: relative;
    padding-left: 1.2em;

    @mixin atLarge {
      padding-left: 1em;
    }

    &::after {
      counter-increment: nav-counter;
      content: '0' counter(nav-counter);
      font-size: 0.6rem;
      font-weight: 400;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.3;
      transform: translateX(115%);
    }
    &::before {
      content: '';
      z-index: 1;
      width: 8px;
      height: 2px;
      background-color: $mainRed;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(110%, -50%);
      opacity: 0;
      transition: all 300ms;
    }
    &:hover::before {
      opacity: 1;
      transform: translate(80%, -50%);
    }

    &--active {
      &::before {
        opacity: 1;
        transform: translate(80%, -50%);
      }
    }
  }
  &__nav-link-top-portion {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);

    @mixin atLarge {
      position: relative;
      top: 0.5px;
    }
  }
  &__nav-link-bottom-portion {
    position: absolute;
    left: 1.2em;
    transition: transform 400ms;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);

    @supports (-moz-appearance: none) {
      top: -1px;
    }

    @mixin atLarge {
      left: 1em;
    }
  }
}
