.header {
  position: relative;
  font-weight: 300;
  backface-visibility: hidden;
  z-index: 1;

  @mixin atLarge {
    font-size: 1.2rem;
  }
  &__my-name {
    font-size: 1.3rem;

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
  &__professional-skill {
    display: none;

    @mixin atLarge {
      display: block;
    }
  }
  &__availability-message {
    position: absolute;
    bottom: 1em;
    line-height: 1em;

    @mixin atLarge {
      line-height: 150%;
      bottom: 0;
      left: 30vw;
      transform: translate(-100%, 50%);
    }
  }
  &__nav {
    line-height: 2.3em;
    text-align: right;
    counter-reset: nav-counter;

    @mixin atLarge {
      line-height: 150%;
    }
    & span {
      position: relative;
      display: inline-block;
      cursor: pointer;

      &::after {
        counter-increment: nav-counter;
        content: '0' counter(nav-counter);
        display: block;
        font-size: 0.6rem;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.3;
        transform: translateX(115%);
      }
      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 2px;
        background-color: $mainRed;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        opacity: 0;
        transition: all 200ms;
      }
      &:hover::before {
        opacity: 1;
        transform: translate(-170%, -50%);
      }
    }
  }
}
