@keyframes marqee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes left-marqee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  50% {
    stroke-dasharray: 235;
  }

  100% {
    stroke-dasharray: 294;
  }
}
@keyframes loaded {
  to {
    stroke-dasharray: 235;
  }
}
