* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Prompt', sans-serif;
  color: $mainBlack;
  background-color: $skiny;
  text-transform: uppercase;
  counter-reset: milestone-num;
}
html,
body {
  overflow-x: hidden;
}
