@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}body {
  font-family: 'Prompt', sans-serif;
  color: #000;
  background-color: #faf5f1;
  text-transform: uppercase;
  counter-reset: milestone-num;
}html,
body {
  overflow-x: hidden;
}.frontal {
  position: relative;
}.frontal__headline {
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 0.82em;
  }@media only screen and (min-width: 1024px) {.frontal__headline {
      font-size: 22rem
  }
  }.frontal__headline--to-the-right {
      position: relative;
      left: 10vw;
    }@media only screen and (min-width: 1024px) {.frontal__headline--to-the-right {
        left: 30vw
    }
  }.frontal__headline--to-the-left {
      position: absolute;
      right: 0;
    }@media only screen and (min-width: 1024px) {.frontal__headline--to-the-left {
        right: 20vw
    }
  }.list {
  list-style-type: none;
}.milestone {
  border-top: 1px solid #000;
  flex-basis: 100%;
  padding-top: 0.4em;
  font-weight: 300;
}@media only screen and (min-width: 1024px) {.milestone {
    flex-basis: 50vw;
    border-top-width: 2px
}
  }.milestone::before {
    counter-increment: milestone-num;
    content: 'N°' counter(milestone-num);
  }@media only screen and (min-width: 1024px) {.milestone::before {
      font-size: 2rem
  }
  }.milestone__description {
    order: 1;
    font-size: 1.1rem;
    width: 200px;
    text-align: right;
  }@media only screen and (min-width: 1024px) {.milestone__description {
      width: 250px;
      font-size: 2.1rem
  }
  }.flex {
  display: flex;
}.flex--space-between {
    justify-content: space-between;
  }.flex--to-the-right {
    justify-content: flex-end;
  }.header {
  position: relative;
  font-weight: 300;
}@media only screen and (min-width: 1024px) {.header {
    font-size: 1.2rem
}
  }.header__my-name {
    font-size: 1.3rem;
  }@media only screen and (min-width: 1024px) {.header__my-name {
      font-size: 1.8rem
  }
  }.header__professional-skill {
    display: none;
  }@media only screen and (min-width: 1024px) {.header__professional-skill {
      display: block
  }
  }.header__availability-message {
    width: 100px;
    position: absolute;
    bottom: 1em;
    line-height: 1em;
  }@media only screen and (min-width: 1024px) {.header__availability-message {
      width: 120px;
      line-height: 150%;
      bottom: 0;
      left: 30vw;
      transform: translate(-100%, 50%)
  }
  }.header__nav {
    line-height: 2.3em;
    text-align: right;
  }@media only screen and (min-width: 1024px) {.header__nav {
      line-height: 150%;
      text-align: left
  }
  }.wrapper {
  padding-right: 0.8em;
  padding-left: 0.8em;
}@media only screen and (min-width: 1024px) {.wrapper {
    padding-right: 3em;
    padding-left: 3em
}
  }.page-section {
  padding-top: 1em;
  padding-bottom: 1em;
}@media only screen and (min-width: 1024px) {.page-section {
    padding-top: 3em;
    padding-bottom: 3em
}
  }.page-section--small {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }.page-section--no-top-padding {
    padding-top: 0;
  }.paragraph {
  text-transform: lowercase;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 500;
  text-align: justify;
}@media only screen and (min-width: 1024px) {.paragraph {
    width: 70%;
    font-size: 4rem
}
  }.paragraph::first-letter {
    text-transform: uppercase;
  }.headline {
  line-height: 1;
}@media only screen and (min-width: 1024px) {.headline:nth-child(even) .headline__wrapper {
      left: 40vw
  }
  }@media only screen and (min-width: 1024px) {.headline:nth-child(odd) .headline__wrapper {
      left: 10vw
  }
  }.headline:not(:last-child) {
    margin-bottom: 3em;
  }@media only screen and (min-width: 1024px) {.headline:not(:last-child) {
      margin-bottom: 10em
  }
  }.headline__wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }.headline__text {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 15px;
  }@media only screen and (min-width: 1024px) {.headline__text {
      font-size: 8.5rem;
      padding-bottom: 10px
  }
  }.headline__sub {
    color: #ff0d00;
    word-spacing: 15px;
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    left: 1px;
    font-size: 0.8rem;
  }@media only screen and (min-width: 1024px) {.headline__sub {
      left: 8px;
      font-size: 1rem
  }
  }
