@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');@-webkit-keyframes marqee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}@keyframes marqee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}@-webkit-keyframes left-marqee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}@keyframes left-marqee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}@-webkit-keyframes loading {
  50% {
    stroke-dasharray: 235;
  }

  100% {
    stroke-dasharray: 294;
  }
}@keyframes loading {
  50% {
    stroke-dasharray: 235;
  }

  100% {
    stroke-dasharray: 294;
  }
}@-webkit-keyframes loaded {
  to {
    stroke-dasharray: 235;
  }
}@keyframes loaded {
  to {
    stroke-dasharray: 235;
  }
}#content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}.scrollbar-track {
  display: none !important;
}.website-content {
  overflow: hidden;
}.scrollbar {
  height: 0;
  width: 4px;
  background-color: #ff0d00;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}body {
  font-family: 'Prompt', sans-serif;
  color: #000;
  background-color: #faf5f1;
  text-transform: uppercase;
  counter-reset: milestone-num;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}html,
body {
  overflow-x: hidden;
}.frontal {
  position: relative;
}.frontal__headline {
    font-size: 5.5rem;
    font-weight: 900;
    line-height: 0.82;
  }@media only screen and (min-width: 1024px) {.frontal__headline {
      font-size: 16rem;
      opacity: 0;
      transition: left 1500ms cubic-bezier(0.49, 0.7, 0.08, 0.98), right 1500ms cubic-bezier(0.49, 0.7, 0.08, 0.98), opacity 1100ms 500ms
  }
  }@media only screen and (min-width: 1500px) {.frontal__headline {
      font-size: 24rem
  }
  }.frontal__headline--to-the-right {
      position: relative;
      left: 10vw;
    }@media only screen and (min-width: 1024px) {.frontal__headline--to-the-right {
        left: 100vw
    }
  }.frontal__headline--to-the-left {
      position: absolute;
      right: 0;
    }@media only screen and (min-width: 1024px) {.frontal__headline--to-the-left {
        right: 100vw
    }
  }.frontal--animated {
  }.frontal__headline--0 {
  left: 30vw;
  opacity: 1;
}.frontal__headline--1 {
  right: 20vw;
  opacity: 1;
}.list {
  list-style-type: none;
}.milestone {
  position: relative;
  flex-basis: 100%;
  padding-top: 0.4em;
  font-weight: 300;
  overflow: hidden;
}@media only screen and (min-width: 1024px) {.milestone {
    flex-basis: 50vw
}
  }.milestone::before {
    counter-increment: milestone-num;
    content: 'N°' counter(milestone-num);
  }@media only screen and (min-width: 1024px) {.milestone::before {
      font-size: 2rem
  }
  }.milestone__top-border {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #000;
  }@media only screen and (min-width: 1024px) {.milestone__top-border {
      transform: translateX(-50%)
  }
  }.milestone__description {
    order: 1;
    font-size: 1.1rem;
    width: 200px;
    text-align: right;
    transition: opacity 300ms;
  }@media only screen and (min-width: 1024px) {.milestone__description {
      width: 250px;
      font-size: 2.1rem;
      opacity: 0
  }
  }.milestone__description--is-visible {
      opacity: 1;
    }.flex {
  display: flex;
}.flex--at-large {
    display: block;
  }@media only screen and (min-width: 1024px) {.flex--at-large {
      display: flex
  }
  }.flex--space-between {
    justify-content: space-between;
  }@media only screen and (min-width: 1500px) {.flex--stretch-at-huge {
      justify-content: stretch
  }
  }.flex--to-the-right {
    justify-content: flex-end;
  }.header {
  position: relative;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-weight: 300;
  z-index: 2;
}@media only screen and (min-width: 1024px) {.header {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2rem
}
  }@media only screen and (min-width: 1500px) {.header {
    padding-top: 3em;
    padding-bottom: 3em
}
  }.header * {
    transform: translateZ(0);
  }.header__my-name {
    font-size: 1.3rem;
  }@media only screen and (min-width: 1024px) {.header__my-name {
      font-size: 1.8rem;
      opacity: 0
  }
  }.header__add {
    height: 31px;
    display: none;
    text-align: center;
    overflow: hidden;
  }@media only screen and (min-width: 1024px) {.header__add {
      display: block
  }
  }.header__ad-list {
    transition: transform 500ms;
  }@media only screen and (min-width: 1024px) {.header__ad-list {
      transform: translateY(10px)
  }
  }.header__ad-list li {
      opacity: 0;
    }.header__availability-message {
    position: absolute;
    bottom: 1em;
    line-height: 1.15em;
  }@media only screen and (min-width: 1024px) {.header__availability-message {
      line-height: 115%;
      bottom: 0;
      left: 30vw;
      transform: translate(-100%, 50%)
  }
  }.header__availability-message li {
      opacity: 0;
    }.header__nav {
    line-height: 2.3em;
    text-align: right;
    counter-reset: nav-counter;
    overflow: hidden;
  }@media only screen and (min-width: 1024px) {.header__nav {
      line-height: 150%
  }
  }.header__nav:hover .header__nav-list-wrapper {
        max-height: 156px !important;
      }@media only screen and (min-width: 1024px) {.header__nav:hover .header__nav-list-wrapper {
          max-height: 112px !important
      }
  }.header__nav:hover .header__nav-list {
        transform: translateY(0) !important;
      }.header__nav:hover .header__nav-link--active::before {
        width: 100%;
        transform: translate(0.5em, -50%);
      }.header__nav:hover .header__nav-link--active .header__nav-link-bottom-portion {
        transform: translateX(3px);
      }.header__nav-list-wrapper {
    padding-right: 1em;
    transition: max-height 400ms, transform 800ms;
    overflow: hidden;
    transform: translateX(100%);
  }.header__nav-list-wrapper--is-fully-visible .header__nav-link--active::before {
      width: 100%;
      transform: translate(0.5em, -50%);
    }.header__nav-list-wrapper--is-fully-visible .header__nav-link--active .header__nav-link-bottom-portion {
      transform: translateX(3px);
    }.header__nav-list-wrapper--visible {
      transform: translateX(0);
    }.header__nav-list {
    transition: transform 400ms;
  }.header__nav-link {
    position: relative;
    padding-left: 1.2em;
  }@media only screen and (min-width: 1024px) {.header__nav-link {
      padding-left: 1em
  }
  }.header__nav-link::after {
      counter-increment: nav-counter;
      content: '0' counter(nav-counter);
      font-size: 0.6rem;
      font-weight: 400;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.3;
      transform: translateX(115%);
    }.header__nav-link::before {
      content: '';
      z-index: 1;
      width: 8px;
      height: 2px;
      background-color: #ff0d00;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(110%, -50%);
      opacity: 0;
      transition: all 300ms;
    }.header__nav-link:hover::before {
      opacity: 1;
      transform: translate(80%, -50%);
    }.header__nav-link--active::before {
        opacity: 1;
        transform: translate(80%, -50%);
      }.header__nav-link-top-portion {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }@media only screen and (min-width: 1024px) {.header__nav-link-top-portion {
      position: relative;
      top: 0.5px
  }
  }.header__nav-link-bottom-portion {
    position: absolute;
    left: 1.2em;
    transition: transform 400ms;
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
            clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }@media only screen and (min-width: 1024px) {.header__nav-link-bottom-portion {
      left: 1em
  }
  }.wrapper {
  position: relative;
  padding-right: 0.8em;
  padding-left: 0.8em;
}@media only screen and (min-width: 1024px) {.wrapper {
    padding-right: 3em;
    padding-left: 3em
}
  }@media only screen and (min-width: 1024px) {.wrapper--centered-at-large {
      width: 80vw;
      margin: 0 auto
  }
  }.page-section {
  padding-top: 1em;
  padding-bottom: 1em;
}@media only screen and (min-width: 1024px) {.page-section {
    padding-top: 3em;
    padding-bottom: 3em
}
  }.page-section--no-top-padding {
    padding-top: 0;
  }.page-section--z-index-1 {
    z-index: 2;
  }.page-section--no-pointer-events {
    pointer-events: none;
  }@media only screen and (min-width: 1024px) {.page-section--huge-bottom-padding-on-large {
      padding-bottom: 300px
  }
  }@media only screen and (min-width: 1024px) {.page-section--medium-bottom-padding-on-large {
      padding-bottom: 8em
  }
  }.paragraph {
  text-transform: initial;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 500;
  text-align: justify;
}@media only screen and (min-width: 1024px) {.paragraph {
    width: 70%;
    font-size: 3rem
}
  }@media only screen and (min-width: 1500px) {.paragraph {
    font-size: 3.5rem
}
  }.paragraph--margin-b {
    margin-bottom: 2.5em;
  }.project {
  line-height: 1;
}@media only screen and (min-width: 1024px) {.project:nth-child(odd) {
      text-align: center
  }
  }.project:not(:last-child) {
    margin-bottom: 3em;
  }@media only screen and (min-width: 1024px) {.project:not(:last-child) {
      margin-bottom: 15em
  }
  }@media only screen and (min-width: 1024px) {.project:last-child {
      margin-bottom: 6em
  }
  }.project__container {
    display: inline-block;
    position: relative;
    pointer-events: all;
  }.project__wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }.project__title {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 15px;
    white-space: nowrap;
  }@media only screen and (min-width: 1024px) {.project__title {
      font-size: 8.5rem;
      padding-bottom: 6px
  }
  }.project__marqee {
    color: #ff0d00;
    word-spacing: 15px;
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    font-size: 0.8rem;
    -webkit-animation: marqee 30s linear infinite;
            animation: marqee 30s linear infinite;
  }@media only screen and (min-width: 1024px) {.project__marqee {
      left: 8px;
      font-size: 1rem
  }
  }.project__marqee--left-content-support {
      transform: translateX(-100%);
      padding-right: 20px;
      -webkit-animation: left-marqee 30s linear infinite;
              animation: left-marqee 30s linear infinite;
    }.project__image-container {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }.project__image-container canvas {
      box-sizing: content-box;
      padding: 0 10em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }.headline {
  font-size: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  position: absolute;
  line-height: 0.74;
}@media only screen and (min-width: 1024px) {.headline {
    font-size: 13rem
}
  }.headline--small {
    font-size: 5.5rem;
  }@media only screen and (min-width: 1024px) {.headline--small {
      font-size: 10rem
  }
  }.headline--right-edge {
    right: 0;
    top: 50%;
  }.headline--top {
    transform: translateY(-60%);
  }.headline--rotated {
    transform: translateX(39%) rotate(-90deg);
  }.headline--no-pointer-events {
    pointer-events: none;
  }.award:not(:last-child) {
    margin-bottom: 1.5em;
  }@media only screen and (min-width: 1024px) {.award:not(:last-child) {
      margin-bottom: 3em
  }
  }.award__title {
    font-weight: 500;
    width: 400px;
    font-size: 1.3rem;
  }@media only screen and (min-width: 1024px) {.award__title {
      font-size: 2rem
  }
  }.award__list {
    font-size: 0.9rem;
  }@media only screen and (min-width: 1024px) {.award__list {
      font-size: 1.2rem
  }
  }.contact-me__message {
    margin-bottom: 0.5em;
  }@media only screen and (min-width: 1024px) {.contact-me__message {
      margin-bottom: 0;
      width: 400px;
      flex-shrink: 0
  }
  }@media only screen and (min-width: 1500px) {.contact-me__message {
      margin-right: 300px
  }
  }.contact-me__links {
    font-weight: 500;
    text-decoration: underline;
  }@media only screen and (min-width: 1024px) {.contact-me__links {
      font-size: 2rem
  }
  }.contact-me__links:not(:last-child) {
      margin-right: 2em;
    }@media only screen and (min-width: 1024px) {.contact-me__links:not(:last-child) {
        margin-right: 5em
    }
  }.footer {
  border-top: 1px solid #000;
  padding: 0.7em 1em;
}@media only screen and (min-width: 1024px) {.footer {
    padding: 0.7em 2em;
    border-top-width: 2px
}
  }.footer > * {
    font-weight: 500;
    margin-bottom: 0.3em;
  }@media only screen and (min-width: 1024px) {.footer > * {
      margin-bottom: 0;
      font-weight: 600
  }
  }.footer__my-name {
    font-style: italic;
    text-decoration: underline;
  }.text-animation-on-scroll span {
    display: inline-block;
  }.text-animation-on-scroll > span {
    overflow: hidden;
  }.text-animation-on-scroll > span > span {
    transition: transform 500ms;
    transform: translateY(100%);
  }.me {
  display: inline-block;
  white-space: nowrap;
}@media only screen and (min-width: 1024px) {.me {
    transform: translateY(-12px)
}
  }.me span {
    display: inline-block;
  }.me__wrapper {
    position: relative;
  }@media only screen and (min-width: 1024px) {.me__my-name {
      transform: translateY(-300px)
  }
  }.me__my-name--stroke {
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: transparent;
    }.me__my-image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    opacity: 0;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 500ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: translate(-50%, -60%) scale(0.86);
  }.me__my-image--is-visible {
      opacity: 1;
      transform: translate(-50%, -60%) scale(1);
    }.cursor {
  z-index: 2;
  position: absolute;
  pointer-events: none;
  display: none;
  opacity: 0;
  top: 0;
}@media only screen and (min-width: 1024px) {.cursor {
    display: block
}
  }.cursor * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
  }.cursor__outer {
    border: 2px solid #ff0d00;
    height: 70px;
    width: 70px;
    transition: opacity 300ms;
  }.cursor__inner {
    width: 7px;
    height: 7px;
    background-color: #ff0d00;
    transition: width 200ms, height 200ms;
  }.cursor__inner--active {
      width: 11px;
      height: 11px;
    }.cursor--on-focus .cursor__inner {
      width: 11px;
      height: 11px;
    }.cursor--on-focus .cursor__outer {
      opacity: 0;
    }.cursor--is-visible {
    opacity: 1;
  }.website-content {
  position: relative;
}.preload-overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
}@media only screen and (min-width: 1024px) {.preload-overlay {
    display: block
}
  }.preload-overlay__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }.preload-overlay__state {
    font-weight: 300;
    opacity: 0;
    position: absolute;
    width: 200px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 0.8em;
  }.loader {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
}.loader *,
  .loader::after {
    border-radius: 50%;
  }.loader__svg {
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-out;
  }.loader__circle {
    transform-origin: center;
    cx: 50%;
    cy: 50%;
    r: 46%;
    stroke-width: 2;
    stroke: #ff0d00;
    fill: transparent;
    stroke-dasharray: 200;
    stroke-dashoffset: 1000;
    -webkit-animation: loading 3000ms 1000ms infinite;
            animation: loading 3000ms 1000ms infinite;
    transition: all 1000ms;
  }.loader__inner,
  .loader::after {
    width: 7px;
    height: 7px;
    background-color: #ff0d00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 300ms;
  }.loader::after {
    content: '';
  }.loader--interactive:active .loader__svg {
        transform: scale(1.22);
      }.loader--interactive:active .loader__circle {
        stroke-width: 1.55;
      }.loader--interactive:active .loader__inner {
        width: 70px;
        height: 70px;
        background-color: transparent;
      }.loader--hidden {
    opacity: 0;
    cursor: none;
  }.line-animation {
  opacity: 0;
}.line-animation span {
    display: block;
  }.line-animation__outer-span {
    overflow: hidden;
  }.line-animation__inner-span {
    transition: transform 800ms;
  }.line-animation--animated {
    opacity: 1 !important;
  }.line-animation--animated .line-animation__inner-span {
      transform: translate(0);
    }.line-animation--hidden-to-bottom .line-animation__inner-span {
      transition: transform 500ms;
      transform: translate(0, 100%);
    }.from-bottom {
  transform: translate(0, 100%);
}.from-top {
  transform: translate(0, -100%);
}.from-right {
  transform: translate(100%, 0);
}
